
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Sigmar&family=Vina+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');


* {
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color:#F4A259    ;
    
}

.box 
{
    position: relative;
    width: 480px;
    height: 420px;
    background-color: rgb(221, 216, 216);
    border-radius: 10px;
    
}

.box form
{
    position: absolute;
    inset: 4px;
    background: rgb(221, 216, 216);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    
    
}

.box form h2
{
    color: rgb(167, 143, 39);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Braah One', sans-serif;
}

.box form .InputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;

}

.box form .InputBox input
{
    position: relative;
    width: 100%;
    padding: 8px 8px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    background: transparent;
    border-width: 1px;
    transition: 0.5s;
    color: rgb(19, 18, 18);
}

.box form .InputBox span
{
    position: absolute;
    left: 0;
    padding: 8px 10px;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box form .InputBox input:valid ~ span,
.box form .InputBox input:focus ~ span
{
    color:rgb(148, 142, 58);
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .links
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
    width: 290px;
    font-family: 'Braah One', sans-serif;
    

}
.box form .links a:hover
{
    color: black;
}

.box form .links a
{           
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 0.75em;
    color: rgb(148, 142, 58);
    text-decoration: none;
}

.box form button
{
    position: absolute;
    width: 50%;
    left:24% ;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    background: rgb(71, 23, 23);
    font-size: 15px;
    box-shadow: inset 0 0 0 0 rgb(148, 142, 58);
    transition:ease-out 0.5s;
    
}

.box form button:hover
{
    box-shadow: inset 250px 0 0 0  rgb(179, 170, 57);
    color: rgb(8, 8, 8);
}


#logo {
    list-style: none;
    padding: 0px;
    color: #cf9725;
    position: absolute;
    top: 10px;
    left: 35px;
    font-family: 'Braah One', sans-serif;
    text-decoration: none;
    display: inline;
    list-style-type: none;
}

.FC
{
    position: absolute;
    top: 350px;
    left: 43%;
    font-size: 25px;
    color: #3b5998;
}

.GG
{
    position: absolute;
    top: 350px;
    left: 52%;
    font-size: 25px;
    color: #ce0c0c;

}



