
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Sigmar&family=Vina+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');


* {
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
}

body {

    background-color: rgb(29, 11, 1);
}

#menu_in {

    
    list-style: none;
    padding: 0px;
}

#menu_in li {

    display: inline;
}

#menu_in a {

    color:rgba(247, 245, 240, 0.788);
    font-family: 'Braah One', sans-serif;
    position: relative;
    left: 63%;
    padding: 15px ;
    display: inline-block;
    text-decoration: none;
}

#menu_in a:hover{

    color:#F7B32B;
}

#logo {

    color: #F7B32B;
    position: absolute;
    top: 10px;
    left: 35px;
    font-family: 'Braah One', sans-serif;
}

.car {

    position: absolute;
    top: 15px;
    left: 60%;
    color: rgba(247, 245, 240, 0.788);
    font-size: 19px;

}



